body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(201,68,6,1) 44%, rgba(255,235,0,1) 100%);
    max-width: 100vh;
    padding: 0 25%;
}
body>*{
    background-color: #f5f4d8;
    padding: 15px;
    border:2px solid black;
    border-bottom: none;
    border-top: none;
    margin: auto;
}
figure,h1,h2{
    text-align: center;
}
h1,h2{
    border-top: 2px solid black;
    border-radius: 15px 15px 0 0;
}
ul{
    padding-inline-start:40px;
}
audio,video{
   display: block;
   background:none;
   border:none;
}
video{
    width: 100%;
    padding: 0;
}
img{
    max-width: 40vw;
}